<!DOCTYPE html>
<html
  lang="en"
  class="light-style customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>

<head>
  <% include ./../elements/header %>
</head>

<body>

  <div class="container">
    <div class="row">
        <%- body %>
    </div>
</div>

  <% include ./../elements/footer %>
</body>

</html>